.block {
	padding: 50px 0;
}

.block_phone {
	padding: 80px 0 70px 0;
}

.block_title {
	font-size: 20px;
	line-height: 0.6;
	color: rgb(51, 59, 70);
	text-transform: uppercase;
	font-family: "SourceSansProLight", sans-serif;
	font-weight: 300;
	margin-bottom: 45px;
	text-align: center;
}
.block_phone_wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
}
.phone_wrap_item {
	width: 55%;
	padding-right: 150px;
}
.phone_wrap_item .block_content,
.phone_wrap_item .block_title {
	text-align: left;
}
.phone_wrap_item:nth-child(2) {
	width: 100 - 55%;
	padding-right: 0;
}

.block_content {
	@include fontsize-lineheight(25, 14);
	letter-spacing: 0.7px;
	margin-bottom: 35px;
	text-align: center;
}

.block_link {
	display: inline-block;
	@include lineheight(12, 16);
	color:$botom_color;
	text-decoration: none;
	padding: 11px 28px;
	border:1px solid $botom_color;
	border-radius: 20px;
}

.block_detals {
	padding: 75px 0 90px;
	background-color: #f3f3f3;
	}

.tabs-containerTwo {
	display: flex;
	justify-content: flex-start;
	max-width: 100%;
}

.tabs-container {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
.tabs-cont {
	display: inline-block;
}
.tabsTwo {
	list-style: none;
}
.tabsTwo li {
	margin-bottom: 10px;
}

.tabs {
	display: flex;
	list-style: none;
	margin:0 auto 42px;
}
.tabsTwo li:not(:last-child),
.tabs li:not(:last-child) {
	margin-right: 7px;
}
.tabsTwo li a,
.tabs li a {
	display: block;
	position: relative;
	top: 0;
	width: 42px;
	height: 42px;
	line-height: 42px;
	color:#fff;
	border-radius: 50%;
	background: #81868e;
	transition: all 0.1s ease-in-out;
}
.tabsTwo li a {
	text-align: center;
}
.tabs li.active a,
.tabs li a:hover,
.tabsTwo li.active a,
.tabsTwo li a:hover {
	opacity: 1;
	background:$body_aksentcolor;
	top: 0;
}

.tabs-content {
	position: relative;
	z-index: 2;
	padding: 25px;
}
.tabs-panelTwo,
.tabs-panel {
	display: none;
	text-align: left;
}

.tabs-contentTwo {
	padding-top: 0;
}

.tabs-panel_cont {
	column-count: 2;
	column-gap: 110px;
}
.tabs-panel_cont4 p a,
.tabs-panel_cont p a {
	color:$body_aksentcolor;
}

.tabs-panelTwo.active,
.tabs-panel.active {
	display: block;
}

.tabs-panelTwo p + div,
.tabs-panel p + div {
	margin-top: 15px;
}

@media screen and (max-width: 600px) {
	.tabsTwo ,
	.tabs {
		flex-direction: column;
	}
	.tabsTwo li,
	.tabs li {
		width: 100%;
	}
	.tabsTwo li:not(:last-child),
	.tabs li:not(:last-child) {
		margin-right: 0;
	}
	.tabsTwo li a,
	.tabs li a {
		border-radius: 0;
		opacity: 1;
		top: 0;
	}
	.tabsTwo li.active a::before
	.tabs li.active a::before {
		content: "•";
		padding-right: 5px;
	}

	.tabs-content {
		border-radius: 0;
	}
}

.tab_title {
	color: #464646;
//margin-bottom: 40px;
@include fontsize-lineheight(125, 20);
font-weight: 400;
letter-spacing: 0.8px;
text-transform: capitalize;
}

.tabs-panelTwo .tab_title {
	line-height: 2;
	margin-bottom: 40px;
}

.block_futured {
	padding: 75px 0 0 0;

}

.futured_box {
	display: grid;
	grid-template-columns:2fr 1fr 1fr;
	grid-template-row:1fr;
	margin: 0;
	padding: 0;
}

.futured_box_items {
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 319px;
	position: relative;
	@include transition(all, 0.5s, ease);
	overflow: hidden;
	cursor: pointer;
}
.futured_box_items_overlay {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	right: 0;
	top:0;
	background-color: rgba(#000, 0.85);
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SourceSansProLight", sans-serif;
	@include fontsize-lineheight(12, 20);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	opacity: 0;z-index: -1;
	@include transition(z-index, 0.5s, ease);
}
.futured_box_items:hover .futured_box_items_overlay {
	width: 100%;
	opacity: 1;
	z-index: 1;
	@include transition(z-index, 0.5s, ease);
}
.futured_box_items_overlay a {
	color:#fff;
	text-decoration: none;
	@include transition(all, 0.5s, ease);
}
.futured_box_items_overlay a:hover {
	color:$body_aksentcolor;
}



.block_futured .container-fluid {
	padding: 0;}

	.mfp-arrow-right:after,
	.mfp-arrow-right:before,
	.mfp-arrow-left:after,
	.mfp-arrow-left:before {
		display: none;}

		.mfp-arrow-left {
			background:url(../img/slider/arrow-sprite.png) no-repeat top left !important;
			width:30px; height:30px;
			position: absolute;
			left: 38px; }

			.mfp-arrow-right {
				background:url(../img/slider/arrow-sprite.png) no-repeat bottom left !important;
				width:30px; height:30px;
				position: absolute;
				right: 38px;}

				.mfp-arrow-left:hover {
					background:url(../img/slider/arrow-sprite.png) no-repeat top right !important;
					width:30px;
					height:30px; }
					.mfp-arrow-right:hover {
						background:url(../img/slider/arrow-sprite.png) no-repeat bottom right !important;
						width:30px;
						height:30px; }

						.services_wrap {
							display: flex;
							justify-content: space-between;
						}
						.services_wrap_items {
							flex-basis: 50%;
							display: flex;
							justify-content: space-between;
							align-items: center;
						}

						.services_wrap_prof svg {
							display: inline-flex;
							vertical-align: bottom;
							width: 120px;
							height: 120px;
						}

						.services_wrap_prof circle {
							stroke: #047378;
							stroke-width: 3px;
							stroke-dasharray: 0;
							fill: none;
						}
						.services_wrap_prof .meter {
							stroke-width: 3px;
							stroke: $body_aksentcolor;
							fill: none;
							transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
							transform-origin: center center;
							transform: rotate(80deg) scaleX(1);
							@include transition(all, 2.2s, ease);
						}

						.services_wrap_prof text {
							fill:  #81868e;
							font-weight: bold;
							@include font-size(20px);
							@include transition(all, 3.2s, ease, 10.5s);

				}
.services_wrap_position {
}

.block_manyellow {
	padding: 70px 0 90px 0;
	background:#000 url(../img/mansback.jpg) center center no-repeat;
	background-size: cover;
	position: relative;

	}

.block_manyellow:before {
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background-color: rgba(#000, .85);
}

.manyellow_wrap {
display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.manyellow {
	padding: 0;
	margin: 0;
	position: relative;
	width: 52%;
}

.manyellow_title{
	color: #f3f3f3;
	font-family: "SourceSansProLight", sans-serif;
	 @include fontsize-lineheight(12, 20);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 50px;
}

.manyellow_descr {
		 @include fontsize-lineheight(28, 16);
		color: #b2b3b3;
		font-weight: 400;
		letter-spacing: 0.8px;
		margin-bottom: 27px;
}

.manyellow_autor h3 {
color: #b2b3b3;
font-size: 14px;
font-weight: 400;
line-height: 25px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 0.7px;
}

.manyellow_position {
	letter-spacing: 0.7px;
}

.manyellow_position span {
	letter-spacing: 0.7px;
color: #19bd9a;
text-transform: uppercase;
}

.manyellow_pic {
position: absolute;
right: 0;
// top:-120px;
 transform: translateY(-50%);
 margin-top: 8%;
}

.portfolio_fon {
background-color: $portfolio_fon;
padding: 80px 0 100px 0;
}

.team_fon {
padding: 70px 0 95px 0;
}

.clients_slider_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.clients_slider_customeer {
	width: 30%;
}

.clients_slider_info {
	width: 52%;
	text-align: right;
}
.clients_slider_autor_b {
	border-right: 4px solid $body_aksentcolor;
	padding-right: 30px;
}

.clients_slider_autor h3 {
color: #464646;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.8px;

}

.clients_slider_autor h4 {
color: #81868e;
font-family: "SourceSansProLight", sans-serif;
@include fontsize-lineheight(25, 14);
font-weight: 300;
font-style: italic;
text-transform: uppercase;
letter-spacing: 1.4px;
margin-bottom: 30px;
}
.clients_slider_autor p {
color: #81868e;
@include fontsize-lineheight(25, 14);
font-weight: 400;
letter-spacing: 0.7px;
margin-bottom: 45px;
	padding-right: 30px;
}
.slick-dots li button:before {
 content: "";
}


.slick-dots li button {
width: 10px;
height: 10px;
border-radius: 50%;
border:1px solid $body_aksentcolor;
}

.slick-dots .slick-active button {
width: 10px;
height: 10px;
border-radius: 50%;
border:1px solid $body_aksentcolor;
background-color: $body_aksentcolor;

}




// оформляю блок скилов

.already_wrap {
	position: relative;
	text-align: center;
}
.already_title {
@include fontsize-lineheight(25, 20);
font-weight: 400;
letter-spacing: 0.8px;color: #fff;
margin-bottom: 25px;
}

.already_wrap .block_link {
	color: #fff;
	border-color: #fff;
}













.progress {
margin-left: 30px;
padding-right: 30px;
}
.skills_progress {
margin-bottom: 30px;
}
.progress_name {
	@include fontsize-lineheight(25, 16);
	text-align: left;
margin-bottom: 10px;
font-family: "SourceSansProLight", sans-serif;
color: #81868e;
font-weight: 300;
text-transform: uppercase;
}

.progree_element {
border-radius: 3px;
// border:1px solid #e1e4e9;
background-color: #e1e4e9;
padding: 0;
position: relative;

}
.progree_line {
background-color: $body_aksentcolor;
height: 4px;
position: relative;
width: 0;
}
.progree_tooltip {
position: absolute;
right: 12px;
top:-32px;
font-size: 16px;
line-height: (25 / 16);
text-align: center;

}

.block_testimonials {
	padding: 80px 0 90px 0;
	background-color: #f3f3f3;
}

.adwice_slider_fon {
	background-color: #fff;
	padding: 50px 80px 110px 80px;
	display: flex;
		justify-content: flex-start;
	align-items: flex-start;
}









.adwice_slider_customeer img {
width: 130px;
height: 130px;
border-radius: 50%;
margin-right: 65px;
}
.adwice_slider_text {
color: #81868e;
@include fontsize-lineheight(28, 16);
letter-spacing: 0.8px;
margin-bottom: 30px;
}


.adwice_slider_name {
	@include fontsize-lineheight(20, 16);
color: #19bd9a;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.64px;
}
.adwice_slider_potition {
	@include fontsize-lineheight(20, 14);
color: #464646;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.56px;
}




#adwice_slider .slick-dots {
      bottom: 39px;
      }







.portfolio_fon .block_content {
	margin-bottom: 70px;
}
/* control
---------------------------------------------------------------------- */
.post-filter {
  list-style: none;
  padding-left: 0;
  display: flex;
//  margin-top: 2.5rem;
}
.post-filter li {
@include fontsize-lineheight(12, 16);
 // padding-right: 1.5rem;
 padding: 0.5rem 0.75rem;
  cursor: pointer;
  color:#464646;
  font-weight: normal;

}
.post-filter li.mixitup-control-active {
  color:#464646;
  position: relative;
}
.post-filter li.mixitup-control-active:before {
position: absolute;
content: '';
width: 38px;
height: 4px;
bottom:-10px;
left: 50%;
margin-left: -19px;
 background-color: #52cbb1;
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTliZDlhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxOWJkOWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjOGRkYWM5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4ZGRhYzkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(25, 189, 154)),color-stop(0.5, rgb(25, 189, 154)),color-stop(0.51, rgb(141, 218, 201)),color-stop(1, rgb(141, 218, 201)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(25, 189, 154) 0%,rgb(25, 189, 154) 50%,rgb(141, 218, 201) 51%,rgb(141, 218, 201) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(25, 189, 154) 0%,rgb(25, 189, 154) 50%,rgb(141, 218, 201) 51%,rgb(141, 218, 201) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(25, 189, 154) 0%,rgb(25, 189, 154) 50%,rgb(141, 218, 201) 51%,rgb(141, 218, 201) 100%);
	}
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .post-filter li.mixitup-control-active:before {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff19bd9a",endColorstr="#ff8ddac9",GradientType=0);
    }
}



/* grid
---------------------------------------------------------------------- */

.container_filter {
	margin-bottom: 60px;
display: flex;
justify-content: center;
}


.grid-container {
// display: grid;
 grid-template-columns: repeat(12, 1fr);
 grid-auto-rows: minmax(220px, auto);
  display: grid;
  grid-gap: 10px;
 //grid-template-areas:
    // "a b c d"
    // "a f c d"
    // "e f p s"
    // "e k p z"
    // "p k j z";

   // grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
   // grid-auto-rows: 200px;

}

.grid-container .card {
 // height: 100%;
 border:1px solid red;
}

// .grid-container > * {
//   margin-bottom: 30px;
// }
.grid-container .card img {
display: block;
width: 100%;
height: ato;
}

.grid-items:nth-child(1) {
//grid-area: a;
grid-column:span 3;
grid-row:span 3;
}
.grid-items:nth-child(2) {
grid-column:span 3;
grid-row:span 1;
}
.grid-items:nth-child(3) {
grid-column:span 3;
grid-row:span 2;
}
.grid-items:nth-child(4) {
grid-column:span 3;
grid-row:span 3;
}
.grid-items:nth-child(5) {
grid-column:span 3;
grid-row:span 3;
}
.grid-items:nth-child(6) {
grid-column:span 3;
grid-row:span 3;
}
.grid-items:nth-child(7) {
grid-column:span 3;
grid-row:span 3;
}

.grid-items:nth-child(5) {
//    grid-area:e;
}
.grid-items:nth-child(6) {
//     grid-area:f;
}
.grid-items:nth-child(7) {
 //    grid-area:p;
}
.grid-items:nth-child(8) {
 //    grid-area:s;
}
.grid-items:nth-child(9) {
 //    grid-area:k;
}
.grid-items:nth-child(10) {
 //    grid-area:g;
}
.grid-items:nth-child(11) {
 //    grid-area:p;
}
.grid-items:nth-child(12) {
 //    grid-area:z;
}








.latest_post_fon {
background:#fff url(../img/latest-blog.jpg) center center no-repeat;
	background-size: cover;
//	min-height: 735px;
	position: relative;
	padding: 75px 0 95px 0;

}
.latest_post_fon:before {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	background-color: rgba(#000, .95);

}

.posts_slider_fon {
position: relative;
width: 55%;
}

.posts_slider_title {
@include fontsize-lineheight(30, 20);
color: #e1e4e9;
font-weight: 400;
letter-spacing: 0.8px;
margin-bottom: 15px;
}

.posts_slider_autor {

font-family: "SourceSansProLight", sans-serif;
@include fontsize-lineheight(25, 14);
font-weight: 300;
font-style: italic;
text-transform: uppercase;
color: $body_color_text;
letter-spacing: 1.4px;
margin-bottom: 20px;
}

.posts_slider_autor span {
color: #19bd9a;
	}

	.posts_slider_socials {
display: flex;
list-style: none;
margin-bottom: 60px;
	}
.posts_slider_socials li {
@include fontsize-lineheight(25, 14);
padding: 3px 10px;
color: #464646;
font-family: "SourceSansProLight", sans-serif;
font-weight: 300;
letter-spacing: 1.4px;
}
.posts_slider_text {
@include fontsize-lineheight(25, 14);
color: #81868e;
font-weight: 400;
letter-spacing: 0.7px;
margin-bottom: 50px;
}

.posts_slider_link {
	padding-left: 15px;
display: inline-block;
	@include fontsize-lineheight(12, 16);
color: #b2b3b3;
font-weight: 400;
text-decoration: none;
text-transform: capitalize;
position: relative;
}
.posts_slider_link:before {
position: absolute;
content: "+";
color: #b2b3b3;
top:0;
left:2px;

}

#posts_slider .slick-dots {
top:50%;
transform:translateY(-50%);
// left:0;
display: flex;
flex-direction: column;
//justify-content: center;
align-items:  flex-end;
justify-content: flex-start;
}

#posts_slider .slick-dots li {
display: inline-block;
}
#posts_slider .slick-dots li button {
 border: 1px solid #fff;
}

#posts_slider .slick-dots .slick-active button {
 border: 1px solid #ffffff;
 background-color: #ffffff;
}

.container-fluid{
 	position: relative;
 	text-align: left;
 	padding-left: 90px;
}

  .container-fluid .block_content,
 .container-fluid .block_title {
color:#fff;
text-align: left;
}
.container-fluid .block_title {
margin-bottom: 34px;
}

.container-fluid .block_content {
 	 	margin-bottom: 100px;
}










