.block {
  padding: 70px 0;
}

.big_block {
  padding: 70px 0 95px;
}

.best_block {
  padding: 70px 0 0;
}

.block_title {
  margin-bottom: 45px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: rgb(51, 59, 70);
}

.block_phone_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.phone_wrap_item {
  padding-right: 150px;
  width: 55%;
}

.phone_wrap_item .block_content,
.phone_wrap_item .block_title {
  text-align: left;
}

.phone_wrap_item:nth-child(2) {
  padding-right: 0;
  width: 100 - 55%;
}

.block_content {
  @include fontsize-lineheight(25, 14);

  margin-bottom: 35px;
  letter-spacing: 0.7px;
  text-align: center;
}

.block_link {
  @include lineheight(12, 16);

  display: inline-block;
  border: 1px solid $botom_color;
  border-radius: 20px;
  padding: 11px 28px;
  text-decoration: none;
  color: $botom_color;
}

.block_detals {
  background-color: #f3f3f3;
}

.tabs-containerTwo {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

.tabs-container {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.tabs-cont {
  display: inline-block;
}

.tabsTwo {
  list-style: none;
}

.tabsTwo li {
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  list-style: none;
  margin: 0 auto 42px;
}

.tabsTwo li:not(:last-child),
.tabs li:not(:last-child) {
  margin-right: 7px;
}

.tabsTwo li a,
.tabs li a {
  @include transition(all, 0.52s, ease);

  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  font-size: 30px;
  text-decoration: none;

  //	line-height: 53px;
  color: #ffffff;
  background: #81868e;
}

.tabsTwo li a {
  text-align: center;
}

.tabs li.active a,
.tabs li a:hover,
.tabsTwo li.active a,
.tabsTwo li a:hover {
  top: 0;
  background: $body_aksentcolor;
  opacity: 1;
}

.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
}

.tabs-panelTwo,
.tabs-panel {
  display: none;
  text-align: left;
}

.tabs-contentTwo {
  padding-top: 0;
}

.tabs-panel_cont {
  column-count: 2;
  column-gap: 110px;
}

.tabs-panel_cont4 p a,
.tabs-panel_cont p a {
  color: $body_aksentcolor;
}

.tabs-panelTwo.active,
.tabs-panel.active {
  display: block;
}

.tabs-panelTwo p +div,
.tabs-panel p +div {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .tabsTwo,
  .tabs {
    flex-direction: column;
  }

  .tabsTwo li,
  .tabs li {
    width: 100%;
  }

  .tabsTwo li:not(:last-child),
  .tabs li:not(:last-child) {
    margin-right: 0;
  }

  .tabsTwo li a,
  .tabs li a {
    top: 0;
    border-radius: 0;
    opacity: 1;
  }

  .tabsTwo li.active a::before .tabs li.active a::before {
    content: "•";
    padding-right: 5px;
  }

  .tabs-content {
    border-radius: 0;
  }
}

.tab_title {
  @include fontsize-lineheight(125, 20);

  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  color: #464646;
}

.tabs-panelTwo .tab_title {
  margin-bottom: 40px;
  line-height: 2;
}

.futured_box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-template-row: 1fr;
}

.futured_box_overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 110px;
  font-size: 20px;
  color: #ffffff;
  background-color: $body_aksentcolor;
  opacity: 0.9;
}

.fbo_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.fbo_wrap span {
  font-weight: 700;
}

.futured_box_overlay .block_link {
  border-color: #ffffff;
  color: #ffffff;
}

.futured_box_items {
  @include transition(all, 0.75s, ease);

  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 319px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.futured_box_items_overlay {
  @include fontsize-lineheight(12, 20);
  @include transition(all, 1.75s, ease);

  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -100%;
  width: 0;
  height: 100%;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(#000000, 0.85);
}

.futured_box_items:hover .futured_box_items_overlay {
  @include transition(all, 0.75s, ease);

  z-index: 1;
  margin-right: 0;
  width: 100%;
  color: #19bd9a;
  opacity: 1;
}

.futured_box_items_overlay a {
  @include transition(all, 0.5s, ease);

  text-decoration: none;
  color: #ffffff;
}

.futured_box_items:hover .futured_box_items_overlay a:hover {
  color: #19bd9a;
}

.block_futured .container-fluid {
  padding: 0;
}

.mfp-arrow-right::after,
.mfp-arrow-right::before,
.mfp-arrow-left::after,
.mfp-arrow-left::before {
  display: none;
}

.mfp-arrow-left {
  position: absolute;
  left: 38px;
  width: 30px;
  height: 30px;
  background: url("../img/slider/arrow-sprite.png") no-repeat top left !important;
}

.mfp-arrow-right {
  position: absolute;
  right: 38px;
  width: 30px;
  height: 30px;
  background: url("../img/slider/arrow-sprite.png") no-repeat bottom left !important;
}

.mfp-arrow-left:hover {
  width: 30px;
  height: 30px;
  background: url("../img/slider/arrow-sprite.png") no-repeat top right !important;
}

.mfp-arrow-right:hover {
  width: 30px;
  height: 30px;
  background: url("../img/slider/arrow-sprite.png") no-repeat bottom right !important;
}

.services_wrap {
  display: flex;
  justify-content: space-between;
}

.services_wrap_items {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
}

.services_wrap_prof svg {
  display: inline-flex;
  vertical-align: bottom;
  width: 120px;
  height: 120px;
}

.services_wrap_prof circle {
  fill: none;
  stroke: #047378;
  stroke-dasharray: 0;
  stroke-width: 3px;
}

.services_wrap_prof .meter {
  @include transition(all, 2.2s, ease);

  fill: none;
  stroke: $body_aksentcolor;
  stroke-width: 3px;
  transform: rotate(80deg) scaleX(1);
  transform-origin: center center;
  transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.services_wrap_prof text {
  @include transition(all, 3.2s, ease, 10.5s);

  font-weight: 700;
  font-size: 20px;
  fill: #81868e;
}

.block_manyellow {
  position: relative;
  background: #000000 url("../img/mansback.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block_manyellow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.85);
}

.manyellow_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.manyellow {
  position: relative;
  margin: 0;
  padding: 0;
  width: 52%;
}

.manyellow_title {
  @include fontsize-lineheight(12, 20);

  margin-bottom: 50px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #f3f3f3;
}

.manyellow_descr {
  @include fontsize-lineheight(28, 16);

  margin-bottom: 27px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #b2b3b3;
}

.manyellow_autor h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #b2b3b3;
}

.manyellow_position {
  letter-spacing: 0.7px;
}

.manyellow_position span {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #19bd9a;
}

.manyellow_pic {
  position: absolute;
  right: 0;
  margin-top: 8%;

  // top:-120px;
  transform: translateY(-50%);
}

.portfolio_fon {
  background-color: $portfolio_fon;
}

.clients_slider_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.clients_slider_customeer {
  width: 30%;
}

.clients_slider_info {
  width: 52%;
  text-align: right;
}

.clients_slider_autor_b {
  border-right: 4px solid $body_aksentcolor;
  padding-right: 30px;
}

.clients_slider_autor h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #464646;
}

.clients_slider_autor h4 {
  @include fontsize-lineheight(25, 14);

  margin-bottom: 30px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #81868e;
}

.clients_slider_autor p {
  @include fontsize-lineheight(25, 14);

  margin-bottom: 45px;
  padding-right: 30px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #81868e;
}

.slick-dots li button::before {
  content: "";
}

.slick-dots li button {
  border: 1px solid $body_aksentcolor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.slick-dots .slick-active button {
  border: 1px solid $body_aksentcolor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $body_aksentcolor;
}

// оформляю блок скилов
.already_wrap {
  position: relative;
  text-align: center;
}

.already_title {
  @include fontsize-lineheight(25, 20);

  margin-bottom: 25px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.already_wrap .block_link {
  border-color: #ffffff;
  color: #ffffff;
}

.progress {
  margin-left: 30px;
  padding-right: 30px;
}

.skills_progress {
  margin-bottom: 30px;
}

.progress_name {
  @include fontsize-lineheight(25, 16);

  margin-bottom: 10px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  color: #81868e;
}

.progree_element {
  position: relative;
  border-radius: 3px;
  padding: 0;

  // border:1px solid #e1e4e9;
  background-color: #e1e4e9;
}

.progree_line {
  position: relative;
  width: 0;
  height: 4px;
  background-color: $body_aksentcolor;
}

.progree_tooltip {
  position: absolute;
  right: 12px;
  top: -32px;
  font-size: 16px;
  line-height: (25 / 16);
  text-align: center;
}

.block_testimonials {
  background-color: #f3f3f3;
}

.adwice_slider_fon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 50px 80px 110px;
  background-color: #ffffff;
}

.adwice_slider_customeer img {
  margin-right: 65px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.adwice_slider_text {
  @include fontsize-lineheight(28, 16);

  margin-bottom: 30px;
  letter-spacing: 0.8px;
  color: #81868e;
}

.adwice_slider_name {
  @include fontsize-lineheight(20, 16);

  font-weight: 700;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #19bd9a;
}

.adwice_slider_potition {
  @include fontsize-lineheight(20, 14);

  font-weight: 400;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: #464646;
}

#adwice_slider .slick-dots {
  bottom: 39px;
}

.portfolio_fon .block_content {
  margin-bottom: 70px;
}

/* control
---------------------------------------------------------------------- */
.post-filter {
  display: flex;
  list-style: none;
  padding-left: 0;

  //  margin-top: 2.5rem;
}

.post-filter li {
  @include fontsize-lineheight(12, 16);

  // padding-right: 1.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: normal;
  color: #464646;
  cursor: pointer;
}

.post-filter li.mixitup-control-active {
  position: relative;
  color: #464646;
}

.post-filter li.mixitup-control-active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -19px;
  width: 38px;
  height: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTliZDlhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxOWJkOWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjOGRkYWM5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4ZGRhYzkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgb(25, 189, 154)), color-stop(0.5, rgb(25, 189, 154)), color-stop(0.51, rgb(141, 218, 201)), color-stop(1, rgb(141, 218, 201)));

  /* Android 2.3 */
  background-image: repeating-linear-gradient(top, rgb(25, 189, 154) 0%, rgb(25, 189, 154) 50%, rgb(141, 218, 201) 51%, rgb(141, 218, 201) 100%);

  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom, rgb(25, 189, 154) 0%, rgb(25, 189, 154) 50%, rgb(141, 218, 201) 51%, rgb(141, 218, 201) 100%);
  background-image: repeating-linear-gradient(top, rgb(25, 189, 154) 0%, rgb(25, 189, 154) 50%, rgb(141, 218, 201) 51%, rgb(141, 218, 201) 100%);
  background-color: #52cbb1;
}

// /* IE8- CSS hack */
// @media \0screen\,
// screen\9 {
//  .post-filter li.mixitup-control-active:before {
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff19bd9a", endColorstr="#ff8ddac9", GradientType=0);
//  }
// }

/* grid
---------------------------------------------------------------------- */
.container_filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.grid__wrapper_three {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.grid-items {
  position: relative;
  overflow: hidden;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 24%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.grid-items:nth-child(4n+4) {
  margin-right: 0;
}

.grid-items_overley {
  @include transition(all, 1.72s, ease);

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -100%;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(#000000, 0.8);
}

.grid-items:hover .grid-items_overley {
  z-index: 1;
  margin-left: 0;
}

.grid-items:hover .grid-items_overley ul {
  z-index: 2;
  list-style-type: none;
  color: #ffffff;
}

.grid-items_overley_list li {
  z-index: 100;
  display: inline-block;
  list-style-type: none;
  border-radius: 50%;
  opacity: 1;
}

.grid-items_overley_list li a {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #292929;
  opacity: 1;
}

.grid-items_overley h4 {
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.grid-items_overley p {
  text-align: left;
}

.latest_post_fon {
  //	min-height: 735px;
  position: relative;
  background: #ffffff url("../img/latest-blog.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.latest_post_fon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.95);
}

.posts_slider_fon {
  position: relative;
  padding: 25px 0 20px;
  width: 55%;
}

.posts_slider_title {
  @include fontsize-lineheight(30, 20);

  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #e1e4e9;
}

.posts_slider_autor {
  @include fontsize-lineheight(25, 14);

  margin-bottom: 20px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $body_color_text;
}

.posts_slider_autor span {
  color: #19bd9a;
}

.posts_slider_socials {
  display: flex;
  list-style: none;
  margin-bottom: 60px;
}

.posts_slider_socials li {
  @include fontsize-lineheight(25, 14);

  padding: 3px 10px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  letter-spacing: 1.4px;
  color: #464646;
}

.posts_slider_text {
  @include fontsize-lineheight(25, 14);

  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #81868e;
}

.posts_slider_link {
  @include fontsize-lineheight(12, 16);

  position: relative;
  display: inline-block;
  padding-left: 15px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #b2b3b3;
}

.posts_slider_link::before {
  content: "+";
  position: absolute;
  left: 2px;
  top: 0;
  color: #b2b3b3;
}

#posts_slider .slick-dots {
  top: 50%;

  // left:0;
  display: flex;
  flex-direction: column;

  //justify-content: center;
  align-items: flex-end;
  justify-content: flex-start;
  transform: translateY(-50%);
}

#posts_slider .slick-dots li {
  display: inline-block;
}

#posts_slider .slick-dots li button {
  border: 1px solid #ffffff;
}

#posts_slider .slick-dots .slick-active button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.container-fluid {
  position: relative;
  padding-left: 90px;
  text-align: left;
}

.container-fluid .block_content,
.container-fluid .block_title {
  text-align: left;
  color: #ffffff;
}

.container-fluid .block_title {
  margin-bottom: 34px;
}

.container-fluid .block_content {
  margin-bottom: 100px;
}

.price_fon {
  background-color: #f3f3f3;
}

.price_box {
  display: flex;
  justify-content: space-between;
}

.price_fon .block_content {
  margin-bottom: 60px;
}

.price_box_item {
  @include transition(all, 10.2s, ease);

  position: relative;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 25%;
  background-color: #ffffff;
  cursor: pointer;
}

.price_box_name {
  @include fontsize-lineheight(24, 20);
  @include transition(all, 0.52s, ease);

  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 0;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $body_aksentcolor;
  opacity: 1;
}

.price_box_item:hover .price_box_name {
  opacity: 0;
}

.price_box_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  //	padding: 40px 0;
  min-height: 260px;
  background-color: #ffffff;
}

.price_box_link {
  @include fontsize-lineheight(12, 16);

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 30px 0;
  width: 100%;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  background-color: $body_aksentcolor;
  opacity: 1;
}

.price_box_link:hover {
  text-decoration: underline;
}

.price_box_number {
  @include fontsize-lineheight(48, 42);

  display: none;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  color: #1fbba6;
}

.price_box_number span {
  @include fontsize-lineheight(28, 20);

  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  color: #81868e;
}

.price_box_terms {
  list-style: none;
  padding-right: 33px;
  padding-left: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.7px;
  color: #81868e;
}

.price_box_terms ul {
  list-style: none;
}

.price_box_item:hover .price_box_terms ul {
  display: none;
}

.price_box_item:hover .price_box_number {
  display: block;
}

.price_box_item .price_box_link {
  background-color: #ffffff;
}

.price_box_item:hover .price_box_link {
  background-color: $body_aksentcolor;
}

.price_box_item .price_box_link,
.price_box_item .price_box_number,
.price_box_item .price_box_terms ul {
  @include transition(all, 0.52s, ease);
}

.subsribe_fon {
  position: relative;
  background: #ffffff url("../img/subsribe.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.subsribe_fon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.8);
}

.subsribe_form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 52%;
}

.subsribe_input {
  border: 1px solid #ffffff;
  width: 68%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  text-indent: 10px;
  color: #cfd3d4;
  background-color: transparent;
}

.subsribe_button {
  @include transition(all, 0.72s, ease);

  border: 1px solid $body_aksentcolor;
  width: 30%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #ffffff;
  background-color: $body_aksentcolor;
  cursor: pointer;
}

.subsribe_button:hover {
  background-color: darken($body_aksentcolor, 10%);
}

.subsribe_fon .block_content,
.subsribe_fon .block_title {
  position: relative;
  color: #ffffff;
}

.subsribe_fon .block_content {
  margin-bottom: 60px;
}

.contact_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contact_item {
  width: 25%;
}

.contact_item_pic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_item_icon {
  width: 42px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact_item_info {
  padding: 25px 0;
  text-align: center;
  background-color: #ffffff;
}

.contact_info_title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.64px;
  text-align: center;
  text-transform: uppercase;
  color: #464646;
}

.contact_item_list a,
.contact_item_list {
  @include fontsize-lineheight(20, 14);
  @include transition(all, 0.72s, ease);

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-decoration: none;
  text-transform: uppercase;
  color: #81868e;
}

.contact_item_list a:hover {
  text-decoration: underline;
  color: #81868e;
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact_form_label {
  width: 30%;
}

.contact_form_field {
  @include transition(all, 0.5s, ease);

  margin-bottom: 25px;
  border: 1px solid #d8dce0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  color: #a9a9a9;
}

.contact_form_textarea {
  margin-bottom: 30px;
  border: 1px solid #d8dce0;
  width: 100%;
  min-height: 190px;
  color: #a9a9a9;
  resize: none;
}

.contact_form_textarea:focus,
.contact_form_textarea:hover,
.contact_form_field:hover,
.contact_form_field:focus {
  border: 1px solid darken(#d8dce0, 30%);
}

.contact_form_button {
  @include transition(all, 0.52s, ease);

  border: 0;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $body_aksentcolor;
  cursor: pointer;
}

.contact_form_button:hover {
  background-color: darken($body_aksentcolor, 10%);
}

.checkbox_box {
  margin: 10px auto;
  padding: 0;
  width: 100%;
  color: #ffffff;
}

.ans-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  color: #a9a9a9;
}

.ans-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  color: #a9a9a9;
}

.ans-radio:hover {
  border: 1px solid darken(#a9a9a9, 30%);
}

.checkbox_box .ans-label input[type="checkbox"] {
  appearance: none;
  position: relative;
  margin: 0 0.7em 0 0;
  border: 1px solid #d8dce0;
  border-radius: 2px;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
}

// .checkbox_box .ans-label input[type="checkbox"]:focus {
//   // outline: thin dotted;
// }

.checkbox_box .ans-label input[type="checkbox"]::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  margin: auto;
  border-radius: 0;
  width: 70%;
  height: 45%;
  transition: background 0.25s ease;
}

.checkbox_box .ans-label input[type="checkbox"]:checked {
  background-color: darken(#d8dce0, 30%);
}

.checkbox_box .ans-label input[type="checkbox"]:checked::after {
  border-color: #ffffff;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-radius: 0;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
}

/* IE 10+ */
@media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
  .checkbox_box .ans-label input[type="checkbox"] {
    border: none;
  }

  .checkbox_box .ans-label input[type="checkbox"] {
    background-color: transparent;
  }
}
