@import "_var.scss";

.header_fon_page {
  margin-bottom: 20px;
  min-height: 80px;
}

.breadcrumbs_page {
  margin-bottom: 30px;
}

.breadcrumbs_box {
  padding: 0;
}

.breadcrumbs {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}

.breadcrumbs li {
  position: relative;
  float: left;
  padding: 0.2rem 1.5rem;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs li::before {
  content: "\e684";
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -1px;
  font-family: "Pe-icon-7-stroke";

  // font-family: "FontAwesome";
  transform: translateY(-50%);
}

.breadcrumbs li:last-child::before {
  display: none;
}

.breadcrumbs a {
  @include font-size(18px);

  position: relative;
  float: left;
  line-height: (32px / 18px);
  text-decoration: none;
  color: #000000;
}

.main_block {
  margin: 0;
  padding: 0;
}

.main_content_block {
  float: left;
  padding: 0 15px 50px;
  width: 66%;
}

.category_box {
  margin-bottom: 66px;
}

.main_sidebar_block {
  position: sticky;
  top: 85px;
  float: right;
  padding: 0 15px 50px;
  width: 34%;
}

.thamb_images {
  margin: 0 auto 35px;
  border-radius: 5px;
  padding: 0;
}

.thamb_images img {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.main_content_title {
  @include font-size(28px);

  margin-bottom: 20px;
  font-family: "PoppinsBold", sans-serif;
  line-height: (33px / 28px);
}

.main_content_list {
  margin: 0 0 35px;
}

.main_content_list li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
}

.main_content_list li:last-child {
  margin-right: 0;
}

.mcl_autor,
.mcl_date,
.mcl_comment,
.mcl_tags {
  position: relative;
}

.main_content_list a {
  @include trans;

  font-size: 15px;
  line-height: (27px / 15px);
  color: #242424;
}

.main_content_list a:hover {
  color: $color_blues;
}

.mcl_autor::before,
.mcl_date::before,
.mcl_comment::before,
.mcl_tags::before {
  content: "\e605";
  position: absolute;
  left: -17px;
  top: -5px;
  font-family: "Pe-icon-7-stroke";
  font-size: 20px;
  color: $color_blues;
}

.mcl_date::before {
  content: "\e660";
}

.mcl_comment::before {
  content: "\e668";
}

.mcl_tags::before {
  content: "\e66a";
  left: -18px;
  top: -5px;
}

.entry-content p {
  @include font-size(15px);

  margin-bottom: 5px;
  line-height: (27px / 15px);
  color: #505050;
}

.entry-content p:last-child {
  margin-bottom: 0;
}

.entry-content .mainbuttons {
  display: inline-block;
  margin-top: 36px;
  text-decoration: none;
  color: #ffffff;
}

/* стилизация постраничной навигации */
.pagination {
  margin: 0 auto 42px;
  text-align: center;
}

.pagination ul {
  list-style: none outside;
}

.pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.entry_footer .page-numbers,
.pagination .page-numbers {
  @include font-size(18px);

  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
  border: 1px solid #f4f4f0;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $color_blues;
  transition: all 200ms ease-in-out;
}

.pagination .page-numbers {
  width: 42px;
  height: 42px;
  line-height: 42px;
}

.pagination .current,
.pagination .current:hover {
  color: #ffffff;
  background-color: darken($color_blues, 10%);
}

.entry_footer .page-numbers:hover,
.pagination .page-numbers:hover {
  color: #ffffff;
  background-color: darken($color_blues, 10%);
}

.pagination .inactive,
.pagination .inactive:hover {
  color: #ffffff;
  background-color: darken($color_blues, 10%);
}

.entry_footer .page-numbers {
  display: inline-block;
  padding: 5px 10px;
}

/*  виджеты в сайдбар  */
.widget {
  margin-bottom: 30px;
}

.widget_search,
.widget_archive,
.widget_resentpost,
.widget_last_post {
  border: 1px solid $color_blues;
}

.widget-title {
  @include font-size(24px);

  padding: 20px 0 20px 30px;
  font-family: "PoppinsBold", sans-serif;
  line-height: (28px / 24px);
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  background-color: $color_blues;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  width: 90%;
}

.search-field {
  margin: 0;
  border: 1px solid $color_blues;
  padding: 0;
  width: 84%;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
}

.search-submit {
  margin: 0;
  border: 1px solid $color_blues;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: $color_blues;
}

.widget ul {
  list-style: none;
  margin: 30px auto;
  width: 90%;
}

.widget ul li {
  margin-bottom: 5px;
}

.widget ul li:last-child {
  margin-bottom: 0;
}

.widget ul li a {
  @include font-size(16px);
  @include trans;

  position: relative;
  padding-left: 15px;
  line-height: (28px / 16px);
  text-decoration: none;
  color: #505050;
}

.widget ul li a:hover {
  text-decoration: underline;
}

.widget ul li a::before {
  content: "\e641";
  position: absolute;
  left: 0;
  top: -6px;
  font-family: "Pe-icon-7-stroke";
  font-size: 1.2rem;
}

.widget_resentpost .rpt_title::before {
  display: none;
}

.widget_resentpost ul li a {
  padding-left: 0;
  line-height: 1.5;
}

.widget_last_post ul li {
  position: relative;
  padding-left: 15px;
}

.widget_last_post ul li::before {
  content: "\e641";
  position: absolute;
  left: 0;
  top: 1px;
  font-family: "Pe-icon-7-stroke";
  font-size: 1.2rem;
}

.search_rezzult {
  margin: 30px 0;
  font-size: 1rem;
}

blockquote {
  position: relative;
  margin-bottom: 5px;
  border-left: 5px solid $color_blues;
  padding-left: 20px;
  font-style: italic;
  font-size: 0.9375rem;
  font-size: 16px;
  line-height: 1.8;
  color: #505050;
}

.pagesearch_title {
  margin-bottom: 25px;
  font-size: 1.5625rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.header_single .main_page_title {
  text-align: left;
}

.entry_single {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 40px;
}

.entry_footer {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}

.entry_footer .page-numbers {
  line-height: 1.5;
  text-align: center;
}

.recent_posts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.recent_posts_images {
  width: 60px;
  height: 60px;
}

.recent_posts_text {
  padding-left: 10px;
}

.widget_resentpost ul li a {
  @include trans;

  padding-left: 0;
  line-height: 1.5;
  text-decoration: none;
}

.widget_resentpost ul li a:hover {
  text-decoration: underline;
}

.rpt_date {
  font-size: 0.75rem;
  line-height: 1.5;
  color: $color_blues;
}

/* Comments
------------------------------------------------------------ */
/* Top
--------------------------------------- */

.nocomments {
  display: none;
}

.comment-number {
  margin: 30px 0 20px 10px;
}

.comment-number h4 {
  display: inline;
  font-weight: normal;
  font-size: 2.2rem;
  opacity: 0.7;
}

.comment-number span a,
.comment-number span a:visited {
  @include trans;

  margin: 0 10px 0 20px;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  background: $color_blues;
}

.comment-number span a:hover {
  background-color: darken($color_blues, 10%);
}

.c-head {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  color: #ffffff;
  background: $color_blues;
}

.c-head span {
  margin-left: 0.3rem;
  font-weight: normal;
  font-size: 0.9rem;
  color: lighten(#ffffff, 10%);
}

.c-head a,
.c-head a:visited {
  @include transition(all, 0.52s, ease);

  border-bottom: 1px dotted #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.c-head a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
  color: darken(#ffffff, 10%);
}

.comment-box {
  margin: 5px 0;
  border: 1px solid $color_blues;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: #ffffff;
}

.commentlist {
  list-style: none;
  text-align: right;
}

#comments ul.children {
  display: inline-block;
  list-style: none;
  width: 90%;
}

.comment-content-box {
  display: flex;
  justify-content: space-between;
}

.c-grav {
  margin-right: 20px;
  width: 58px;
  height: 58px;
}

.c-grav img {
  border: 4px solid $color_blues;
  border-radius: 4px;
}

.c-body {
  padding-bottom: 10px;
  text-align: right;
}

.c-body p {
  margin-bottom: 10px;
  font-size: 1.3rem;
  text-align: left;
}

.reply {
  display: inline-block;
  padding: 10px 0;
}

.reply a,
.reply a:visited {
  @include trans;

  border-bottom: 1px dotted;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: lowercase;
  color: #777777;
}

.reply a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #13293e;
}

.note {
  margin: 10px 0;
}

#respond {
  margin: 5px 0;
  border: 1px solid $color_blues;
  background: #ffffff;
}

#postcomment {
  margin: 10px;
  padding: 10px 20px 10px 0;
  font-size: 1.3rem;
  text-align: right;
  color: #555555;
  background: $color_blues;
}

form#commentform,
p.logged-in {
  margin: 30px;
  font-size: 1.2rem;
}

.bloged-in a,
form#commentform,
p.logged-in a {
  color: #000000;
  transition: all 0.2s ease;
}

.bloged-in a:hover,
form#commentform,
p.logged-in a:hover {
  color: #555555;
}

.entry-content a {
  text-decoration: underline;
  color: #000000;
  transition: all 0.2s ease;
}

.entry-content a:hover {
  text-decoration: none;
}

.bloged-in {
  font-size: 1.2rem;
}

.commenting_input {
  @include trans;

  display: block;
  outline: none;
  border: 1px solid $color_blues;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  color: #505050;
  background-color: #ffffff !important;
}

.commenting_textarea {
  @include trans;

  display: block;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid $color_blues;
  padding-top: 10px;
  width: 100%;
  height: 140px;
  text-indent: 10px;
  color: #505050;
  resize: vertical;
}

.mainbuttons {
  @include trans;

  outline: none;
  padding: 10px 20px;
  color: #ffffff;
  background-color: $color_blues;
  cursor: pointer;
}

.mainbuttons:hover {
  background-color: darken($color_blues, 10%);
}

label.comment-field {
  display: block;
  margin: 10px 0 5px;
  color: #999999;
}

#commentform .mainbuttons {
  border: none;
}

#commentform .commenting_input:-webkit-autofill {
  // важно
  box-shadow: inset 0 0 0 70px #ffffff !important;

  /* Цвет фона */
  -webkit-text-fill-color: #aaaaaa !important;

  /* цвет текста */
  color: #505050 !important;

  /* цвет текста */
  background-color: #ffffff;
}

#commentform .commenting_input:focus-within {
  color: #505050;
  background-color: #ffffff !important;
}

.form_input:hover {
  color: #505050;
  background-color: #ffffff !important;
}

.form_input:focus {
  color: #505050;
  background-color: #ffffff !important;
}

.form_input:focus-within {
  color: #505050;
  background-color: #ffffff !important;
}

.form_input:visited {
  color: #505050;
  background-color: red !important;
}

.form_comment_box {
  margin: 0;
  padding: 40px 0 0;
  width: 100%;
}

.form_comment_title {
  @include font-size(24px);

  margin-bottom: 14px;
  font-family: "PoppinsBold", sans-serif;
  line-height: (28px / 24px);
  color: #242424;
}

.form_comment_descr {
  @include font-size(15px);

  line-height: (27px / 15px);
}

// адаптация всех внутренних страниц

/* ==========  Desktop First  ========== */
@media only screen and (max-width: 1440px) {
  /* делать это разрешение */
}

/* конец разрешения 1441рх */

@media only screen and (max-width: 1336px) {
  /* делать это разрешение */
}

/* конец разрешения 1336рх */

@media only screen and (max-width: 1280px) {
  /* делать это разрешение */
}

/* конец разрешения 1280рх */

@media only screen and (max-width: 1200px) {
  /* делать это разрешение */
}

/* конец разрешения 1200рх */
@media screen and (max-width: 1080px) {
  /* делать это разрешение */
}

/* конец разрешения 1080рх */

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
  /* делать это разрешение */
}

/* конец разрешения 1024рх */

@media only screen and (max-width: 992px) {
  /* делать это разрешение */
}

/* конец разрешения 992рх */

@media only screen and (max-width: 980px) {
  /* делать это разрешение */
}

/* конец разрешения 980рх */

@media only screen and (max-width: 960px) {
  /* делать это разрешение */
  .main_content_block,
  .main_sidebar_block {
    float: none;
    width: 100%;
  }

  .main_sidebar_block {
    position: static;
    top: 0;
  }

  .recent_posts {
    justify-content: flex-start;
  }

  .search-field {
    width: 100%;
  }

  .c-body p {
    font-size: 1rem;
  }
}

/* конец разрешения 960рх */

@media only screen and (max-width: 834px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 834рх */

@media only screen and (max-width: 815px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 815рх */

@media only screen and (max-width: 812px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 812рх */

@media only screen and (max-width: 800px) {
  /* делать это разрешение */
  .breadcrumbs a {
    font-size: 1rem;
  }

  form#commentform,
  p.logged-in {
    font-size: 1.02rem;
  }

  .main_content_block {
    padding: 0 15px;
  }
}

/* конец разрешения 800рх */

@media only screen and (max-width: 768px) {
  /* делать это разрешение */
}

/* конец разрешения 768рх */

@media only screen and (max-width: 740px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 740рх */

@media only screen and (max-width: 736px) {
  /* делать это разрешение */
}

/* конец разрешения 736рх */

@media only screen and (max-width: 734px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 734рх */

@media only screen and (max-width: 684px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 684рх */

@media only screen and (max-width: 667px) {
  /* делать это разрешение */
}

/* конец разрешения 667рх */

@media only screen and (max-width: 640px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 640рх */

@media only screen and (max-width: 600px) {
  /* делать это разрешение */
  .pagination {
    margin: 0 auto 10px;
  }

  .comment-number span {
    display: inline-block;
    margin-top: 11px;
  }

  .comment-number span a {
    margin-left: 0;
  }
}

/* конец разрешения 600рх */

@media only screen and (max-width: 568px) {
  /* делать это разрешение */
}

/* конец разрешения 568рх */

@media only screen and (max-width: 480px) {
  /* делать это разрешение */
  .main_content_title {
    font-size: 1.6rem;
  }

  .c-head span {
    display: block;
  }

  #comments ul.children {
    width: 96%;
  }
}

/* конец разрешения 480рх */

@media only screen and (max-width: 425px) {
  /* делать это разрешение */
  .comment-number h4 {
    font-size: 1.8rem;
  }

  .comment-number span a,
  .comment-number span a:visited {
    font-size: 1rem;
  }

  form#commentform,
  p.logged-in {
    margin: 15px;
  }
}

/* конец разрешения 425рх */

@media only screen and (max-width: 414px) {
  /* делать это разрешение */
}

/* конец разрешения 414рх */

@media only screen and (max-width: 412px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 412рх */

@media only screen and (max-width: 387px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 387рх */

@media only screen and (max-width: 384px) {
  /* делать это разрешение */
  .main_content_title {
    font-size: 1.3rem;
  }

  .header_fon_page {
    margin-bottom: 0;
  }

  .breadcrumbs_page {
    margin-bottom: 20px;
  }

  .breadcrumbs a {
    font-size: 0.91rem;
  }

  .main_content_list a {
    font-size: 0.9rem;
  }

  .bloged-in {
    font-size: 1.1rem;
  }
}

/* конец разрешения 384рх */

@media only screen and (max-width: 375px) {
  /* не обьязательно делать это разрешение */
}

/* конец разрешения 375рх */

@media only screen and (max-width: 360px) {
  /* делать это разрешение */
}

/* конец разрешения 360рх */

@media only screen and (max-width: 320px) {
  /* делать это разрешение */
  .c-head,
  #postcomment {
    font-size: 1.1rem;
  }

  .comment-content-box {
    flex-wrap: wrap;
  }

  .c-grav {
    margin-bottom: 20px;
  }
}
