/* font-family: "OpenSansRegular"; */
@font-face {
  src:
    url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-family: "OpenSansRegular";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  src:
    url("../fonts/BigJohn/BigJohn.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BigJohn/BigJohn.woff") format("woff"),
    url("../fonts/BigJohn/BigJohn.woff2") format("woff2"),
    url("../fonts/BigJohn/BigJohn.ttf") format("truetype");
  font-family: "BigJohn";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/SourceSansProLight/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansProLight/SourceSansPro-Light.woff") format("woff"),
    url("../fonts/SourceSansProLight/SourceSansPro-Light.woff2") format("woff2"),
    url("../fonts/SourceSansProLight/SourceSansPro-Light.ttf") format("truetype");
  font-family: "SourceSansProLight";
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}

// 100 Extra Light or Ultra Light
// 200 Light or Thin
// 300 Book or Demi
// 400 Normal or Regular
// 500 Medium
// 600 Semibold, Demibold
// 700 Bold
// 800 Black, Extra Bold or Heavy
// 900 Extra Black, Fat, Poster or Ultra Black
