
.footer_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.footer_content {
text-align: center;
}
.footer_logo {
	color:#323a45;
	font-family: "BigJohn", sans-serif;
@include fontsize-lineheight(12, 25);
text-transform: uppercase;
margin-bottom: 20px;
}

.footer_copy {
margin-bottom: 40px;
@include fontsize-lineheight(25, 14);
}

.footer_social li {
	list-style-type: none;
	display: inline-block;
}
.footer_social li {
	margin-right: 10px;
}
.footer_social li a {
 @include font-size(14px);
line-height: rem(28.6);
width:  rem(28.6);
height: rem(28.6);
display: inline-block;
border-radius: 50%;

color: #fff;
text-decoration: none;
}
.footer_social li a.facebook {
background-color: #3b5998;
}


.footer_social li a.facebook:hover {
background-color: darken(#3b5998, 30%);
}


.footer_social li a.twitter {
background-color: #26a6d1;
}
.footer_social li a.twitter:hover {
background-color: darken( #26a6d1, 30%);
}

.footer_social li a.linkedin {
background-color: #0e76a8;
}
.footer_social li a.linkedin:hover {
background-color: darken( #0e76a8,30%);
}


.footer_social li a.instagram {
background-color: #3f729b;
}
.footer_social li a.instagram:hover {
background-color: darken( #3f729b,30%);
}



.footer_social li a.vimeo {
background-color: #86c9ef;
}
.footer_social li a.vimeo:hover {
background-color: darken( #86c9ef,30%);
}