.header_fon {
  position: relative;
  display: flex;
  min-height: 735px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_fon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.5);
}

.header_fon_page {
  position: relative;
  margin-bottom: 30px;
  background-color: #000000;
}

.top_line {
  @include transition(all, 0.72s, ease);

  // position: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.top_line_active {
  @include transition(all, 0.72s, ease);

  position: fixed;
  z-index: 100;
  background-color: #000000;
}

.top_line_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 0;
}

.top_line_box_active {
  padding: 27px 0;
}

.top_menu ul {
  display: flex;
  list-style: none;
}

.top_menu ul li a {
  @include transition(all, 0.52s, ease);

  border: 1px solid transparent;
  padding: 5px 20px;
  line-height: 0.75;
  text-decoration: none;
  color: #ffffff;
}

a.mPS2id-highlight,
.top_menu ul li a:hover {
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.header_content {
  position: relative;
  margin: auto;
  width: 53%;
  text-align: center;
}

.header_content_title {
  @include fontsize-lineheight(70, 35);

  margin-bottom: 36px;
  font-family: "SourceSansProLight", sans-serif;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_descr {
  @include lineheight(28, 16);

  letter-spacing: 0.8px;
  color: #ffffff;
}

.header_bottom_buton {
  @include transition(all, 0.52s, ease);

  position: absolute;
  left: 50%;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px * (36 / 2);
  border-radius: 50%;
  padding: 0;
  width: 36px;
  height: 36px;
  font-size: 45px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffffbb;
  background-color: $body_aksentcolor;
}

.header_bottom_buton:hover {
  background-color: darken($body_aksentcolor, 10%);
}

.ham {
  display: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  cursor: pointer;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-width: 3;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.ham2 .top {
  stroke-dasharray: 40 121;
}

.ham2 .bottom {
  stroke-dasharray: 40 121;
}

.ham2.active .top {
  stroke-dashoffset: -102px;
}

.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
