// задать все переменные по умолчанию, менять но не удалять

$body_fontsize: 16;
$body_lineheight: 1.75;

$portfolio_fon : #f3f3f3;

$placeholdercolortext: #202020;
$white_color: #fff;
$default-font: "Poppins-Regular",
sans-serif;
$body_color_text:#000;
$accent_color:#010101;
$body_aksentcolor: #010101;
$botom_color:#202020;




//миксины которыые возможно использовать во время версткиbys

// @include font-face(OpenSansBold, sans-serif, null, 25, 18);
//                       название      стиль    font-weght, база, размер шрифта

@mixin font-face($name, $sanserif, $weight: null, $linebase: null, $fontsize:null) {
  font-family: quote($name), $sanserif;
  font-weight: $weight;
  line-height: ($linebase / $fontsize);
  $rsize: $fontsize / 16;
  font-size: $rsize * 1rem;
}

// @include fontsize-lineheight(24, 16); расчет сразу и font-size и line-height

@mixin fontsize-lineheight($lineheight, $fsize) {
  line-height: $lineheight / $fsize;
  $rembase: $fsize / 16;
  font-size: $rembase * 1rem;
}

// @include lineheight(24, 16);  база для расчета и шрифт line-height
@mixin lineheight($lineheight, $fsize) {
  line-height: $lineheight / $fsize;
}

// только для вывода font-size в единицах rem
//  @include font-size(20px);

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}



// @include padzero;

@mixin padzero {
  padding: 0;
  margin: 0;
}

// @include trans;
@mixin trans {
  transition: all 0.2s ease;
}

// @include transition(all, 0.2s, ease);
//                   свойство время анимация
@mixin transition($property, $duration, $timing, $delay:null) {
  transition: $property $duration $timing $delay;
}
